{% extends 'frontend/admin/base.html' %}
{% load static i18n django_tables2 widget_tweaks %}
{% block sidebar %}

{% endblock %}
{% block styles %}
    {{ filter.form.media.css }}

{% endblock %}
{% block content %}

    <div class="post d-flex flex-column-fluid">
        <div id="kt_content_container" class="container-xxl">

            <div class="card mb-5 mb-xl-8">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bolder fs-3 mb-1">{{page_title}}</span>
                    </h3>

                    <form id="filter_form" method="get">

                    <div class="card-toolbar flex-row-fluid justify-content-end gap-5">

                        <div class="d-flex align-items-center position-relative my-1">
                                                    <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                                    <span class="svg-icon svg-icon-1 position-absolute ms-4">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                                                     viewBox="0 0 24 24" fill="none">
                                                                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546"
                                                                                          height="2" rx="1"
                                                                                          transform="rotate(45 17.0365 15.1223)" fill="black"/>
                                                                                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                                                                                          fill="black"/>
                                                                                </svg>
                                                                            </span>

                            {% render_field filter.form.search class="form-control form-control-solid w-250px ps-14" %}

                                                </div>

                        <div class="w-100 mw-150px">

                            {% render_field filter.form.technology class+="form-select form-select-solid" data-control="select2" data-kt-input="filter" data-hide-search="true"%}

                        </div>

                        <button class="btn btn-sm btn-light btn-active-primary"
                                                   >
                            <!--begin::Svg Icon | path: assets/media/icons/duotune/general/gen031.svg-->
                            <span class="svg-icon svg-icon-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="black"/>
                            </svg></span>
                            <!--end::Svg Icon-->

                                                    <!--end::Svg Icon-->Filter</button>

                        <a href="#" class="btn btn-sm btn-light btn-active-primary" data-bs-toggle="modal"
                           data-bs-target="#kt_modal_invite_friends">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                            <span class="svg-icon svg-icon-3">
            												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                                 viewBox="0 0 24 24" fill="none">
            													<rect opacity="0.5" x="11.364" y="20.364" width="16" height="2"
                                                                      rx="1" transform="rotate(-90 11.364 20.364)"
                                                                      fill="black"></rect>
            													<rect x="4.36396" y="11.364" width="16" height="2" rx="1"
                                                                      fill="black"></rect>
            												</svg>
            											</span>
                            <!--end::Svg Icon-->New Candidate</a>
                    </div>
                    </form>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body py-3">
                    <!--begin::Table container-->

                    {% if object_list %}
                        {% render_table table %}

                    {% else %}
                        <h1 class="">
                            No candidates found
                        </h1>
                    {% endif %}
                    <!--end::Table container-->
                </div>
                <!--begin::Body-->
            </div>


        </div>
    </div>




{% endblock %}
{% block scripts %}

{% endblock %}
